doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title 99Production
        meta(name="viewport", content="width=device-width, initial-scale=1")
    body
        - var $color_map = ["default", "draw", "environment", "primary", "info", "success", "warning", "danger", "love", "fear"];
        div
            h1 Обычные кнопки
            - for (var $color = 0; $color < $color_map.length; $color++)
            div.susy-offset-uni-2.susy-uni-4
                button(class="sassy-btn-" + $color_map[$color]) #{$color_map[$color]}
            -
        div
            h1 Плоские кнопки
            - for (var $color = 0; $color < $color_map.length; $color++)
            div.susy-offset-uni-2.susy-uni-4
                button(class="sassy-flat-btn-" + $color_map[$color]) #{$color_map[$color]}
            -
        div
            h1 Плоские аутлайн кнопки
            - for (var $color = 0; $color < $color_map.length; $color++)
            div.susy-offset-uni-2.susy-uni-4
                button(class="sassy-flat-outline-btn-" + $color_map[$color]) #{$color_map[$color]}
            -
        div
            h1 Задизабленные кнопки
            - for (var $color = 0; $color < $color_map.length; $color++)
            div.susy-offset-uni-2.susy-uni-4
                button(class="sassy-btn-" + $color_map[$color], disabled=true) #{$color_map[$color]}
            -
        div
            h1 Обычные поля ввода
            div.susy-offset-uni-2.susy-uni-12
                input.sassy-input(placeholder='Пустое поле')
            div.susy-offset-uni-2.susy-uni-12
                input.sassy-input(placeholder='Пустое поле', disabled=true)
        div
            h1 Валидированные поля ввода
            - for (var $color = 0; $color < $color_map.length; $color++)
            div.susy-offset-uni-2.susy-uni-4
                input.sassy-input(class="border-" + $color_map[$color] + " color-" + $color_map[$color], placeholder=$color_map[$color])
            -
        div
            h1 Сетки плюс классы бэкграунда
            - for (var $color = 0; $color < $color_map.length; $color++)
            div.susy-uni-2(class="bg-" + $color_map[$color], style="min-height: 50px;")
            -
            - for (var $color = 0; $color < $color_map.length; $color++)
            div.susy-uni-2(class="bg-" + $color_map[$color], style="min-height: 50px;")
            -
            - for (var $color = 0; $color < $color_map.length; $color++)
            div.susy-uni-2(class="bg-" + $color_map[$color], style="min-height: 50px;")
            -
            - for (var $color = 0; $color < $color_map.length; $color++)
            div.susy-uni-2(class="bg-" + $color_map[$color], style="min-height: 50px;")
            -
            - for (var $color = 0; $color < $color_map.length; $color++)
            div.susy-uni-2(class="bg-" + $color_map[$color], style="min-height: 50px;")
            -
        div
            h1 Сетки плюс классы панели
            - for (var $color = 0; $color < $color_map.length; $color++)
            .panel
                div(class="panel-" + $color_map[$color]) #{$color}
            -
            - for (var $color = 0; $color < $color_map.length; $color++)
            .panel
                div(class="panel-" + $color_map[$color]) #{$color}
            -
            - for (var $color = 0; $color < $color_map.length; $color++)
            .panel
                div(class="panel-" + $color_map[$color]) #{$color}
            -
            - for (var $color = 0; $color < $color_map.length; $color++)
            .panel
                div(class="panel-" + $color_map[$color]) #{$color}
            -
            - for (var $color = 0; $color < $color_map.length; $color++)
            .panel
                div(class="panel-" + $color_map[$color]) #{$color}
            -
